
*.flock
*.db_info
*.sci
*.cdb
*.hdb
*.xml
*.logdb
*.rdb
*.kpt
*.qmsg
*.hier_info
*.hif
*.ipinfo
*.html
*.ammdb
*.bpm
*.ddb
*.dat
*.dpi
*.hb_info
*.sig
*.idb
*.hsd
*.dfp
*.tdb
*.names_drv_tbl
*.rpt
*.jdi
*.summary
*.pin
*.sof
*.smsg
*.done
*.rcfdb
QUARTUS_CD/incremental_db/README
*.txt
*.vwf
*.vo
*.xrf
QUARTUS_CD/simulation/qsim/transcript
*.vt
QUARTUS_CD/simulation/qsim/work/_info
QUARTUS_CD/simulation/qsim/work/_vmake
*.dbs
*.vhd
*.prw
*.psm
*.do
*.vcd
*.sft
*.tmw_info
*.vwf
*.sdo
*.vho
*.cdf
*.tmw_info
*.tmw_info
*.tmw_info
